::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  @apply bg-blur;
}

::-webkit-scrollbar-thumb {
  @apply
    bg-light
    bg-opacity-30
  ;

  &:hover {
    @apply bg-opacity-100;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
